# Впишите GitHub-логины разработчиков вместо плейсхолдеров.
# Тогда GitHub будет автоматически запрашивать нужного человека в ревьюеры PR.

/backend/   @kirill-github-login
/mobile/    @danya-github-login
