# Впишите GitHub-логины разработчиков вместо плейсхолдеров.
# Тогда GitHub будет автоматически запрашивать нужного человека в ревьюеры PR.

/backend/   @backend-dev-login
/frontend/  @frontend-dev-login
/mobile/    @android-dev-login
